# Yvettes Workbook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
df = pd.read_pickle('data/data.pickle')

In [3]:
df

,fiscal_year,customer_name,vendor_name,purchase_amount,contract_number,rfo_description,rfo_number,customer_type,customer_contact,customer_address,...,po_number,order_date,shipped_date,dir_contract_mgr,contract_type,contract_subtype,contract_start_date,contract_end_date,contract_termination_date,sales_fact_number
981291,2021,Texas Department of Public Safety,"Cisco Systems, Inc.",2657.25,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,State Agency,Accounts Payable,Po Box 4087,...,21P0008145,03/02/2021,05/09/2021,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2022,07/03/2023,48674865
981292,2021,Texas Department of Public Safety,"Cisco Systems, Inc.",3053.83,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,State Agency,Accounts Payable,Po Box 4087,...,21P0008145,03/02/2021,05/09/2021,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2022,07/03/2023,48674866
981293,2021,Texas Department of Public Safety,"Cisco Systems, Inc.",3748.07,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,State Agency,Accounts Payable,Po Box 4087,...,21P0008145,03/02/2021,05/09/2021,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2022,07/03/2023,48674867
981294,2021,Texas Department of Public Safety,"Cisco Systems, Inc.",3748.07,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,State Agency,Accounts Payable,Po Box 4087,...,21P0008145,03/02/2021,05/09/2021,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2022,07/03/2023,48674868
981295,2021,Texas Department of Public Safety,"Cisco Systems, Inc.",3748.07,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,State Agency,Accounts Payable,Po Box 4087,...,21P0008145,03/02/2021,05/09/2021,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2022,07/03/2023,48674869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7367053,2023,Lamar Consolidated Independent School District,"Cisco Systems, Inc.",22156.38,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,K-12,Accounts Payable,3911 Ave I,...,71009590,06/15/2022,10/30/2022,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2023,07/03/2023,55911606
7367054,2023,Lamar Consolidated Independent School District,"Cisco Systems, Inc.",9155.50,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,K-12,Accounts Payable,3911 Ave I,...,71009590,06/15/2022,10/30/2022,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2023,07/03/2023,55911607
7367055,2023,Lamar Consolidated Independent School District,"Cisco Systems, Inc.",44331.09,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,K-12,Accounts Payable,3911 Ave I,...,71009590,06/15/2022,10/30/2022,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2023,07/03/2023,55911608
7367056,2023,Lamar Consolidated Independent School District,"Cisco Systems, Inc.",8667.24,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,K-12,Accounts Payable,3911 Ave I,...,71009590,06/15/2022,10/30/2022,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2023,07/03/2023,55911609
7367057,2023,Lamar Consolidated Independent School District,"Cisco Systems, Inc.",27161.40,DIR-TSO-4167,Cisco Branded Products and Related Services,DIR-TSO-TMP-425,K-12,Accounts Payable,3911 Ave I,...,71009590,06/15/2022,10/30/2022,Tiffanay Waller,Networking Equipment,Networking Equipment,07/03/2018,07/03/2023,07/03/2023,55911610

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378523 entries, 981291 to 7367057
Data columns (total 42 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   fiscal_year                378523 non-null  int64
 1   customer_name              378523 non-null  object
 2   vendor_name                378523 non-null  object
 3   purchase_amount            378523 non-null  float64
 4   contract_number            378523 non-null  object
 5   rfo_description            378523 non-null  object
 6   rfo_number                 378523 non-null  object
 7   customer_type              378523 non-null  object
 8   customer_contact           369036 non-null  object
 9   customer_address           378523 non-null  object
 10  customer_city              378523 non-null  object
 11  customer_state             378523 non-null  object
 12  customer_zip               378523 non-null  object
 13  vendor_contact             378503 non-null  object
 14  vendor_hub_type            378523 non-null  object
 15  vendor_address             378523 non-null  object
 16  vendor_city                378523 non-null  object
 17  vendor_state               378523 non-null  object
 18  vendor_zip                 378523 non-null  object
 19  reseller_name              375992 non-null  object
 20  reseller_hub_type          378523 non-null  object
 21  reseller_address           375509 non-null  object
 22  reseller_city              375509 non-null  object
 23  reseller_state             375509 non-null  object
 24  reseller_zip               375509 non-null  float64
 25  reseller_phone             375446 non-null  object
 26  report_received_month      378523 non-null  int64
 27  purchase_month             378523 non-null  int64
 28  brand_name                 378523 non-null  object
 29  order_quantity             378523 non-null  float64
 30  unit_price                 378523 non-null  float64
 31  invoice_number             378513 non-null  object
 32  po_number                  378505 non-null  object
 33  order_date                 378523 non-null  object
 34  shipped_date               378523 non-null  object
 35  dir_contract_mgr           378517 non-null  object
 36  contract_type              378523 non-null  object
 37  contract_subtype           378523 non-null  object
 38  contract_start_date        378523 non-null  object
 39  contract_end_date          378523 non-null  object
 40  contract_termination_date  378523 non-null  object
 41  sales_fact_number          378523 non-null  int64
dtypes: float64(4), int64(4), object(34)
memory usage: 124.2+ MB

In [5]:
df.isnull().sum()

fiscal_year                     0
customer_name                   0
vendor_name                     0
purchase_amount                 0
contract_number                 0
rfo_description                 0
rfo_number                      0
customer_type                   0
customer_contact             9487
customer_address                0
customer_city                   0
customer_state                  0
customer_zip                    0
vendor_contact                 20
vendor_hub_type                 0
vendor_address                  0
vendor_city                     0
vendor_state                    0
vendor_zip                      0
reseller_name                2531
reseller_hub_type               0
reseller_address             3014
reseller_city                3014
reseller_state               3014
reseller_zip                 3014
reseller_phone               3077
report_received_month           0
purchase_month                  0
brand_name                      0
order_quantity                  0
unit_price                      0
invoice_number                 10
po_number                      18
order_date                      0
shipped_date                    0
dir_contract_mgr                6
contract_type                   0
contract_subtype                0
contract_start_date             0
contract_end_date               0
contract_termination_date       0
sales_fact_number               0
dtype: int64

In [6]:
df.shape

(378523, 42)

In [7]:
df.order_date.value_counts()

10/15/2020    4247
09/27/2019    3781
06/25/2016    3100
04/15/2020    3042
06/20/2020    2961
              ...
05/08/2016       1
05/14/2014       1
04/01/2018       1
07/18/2017       1
04/18/2015       1
Name: order_date, Length: 2434, dtype: int64

In [8]:
df[['order_date','shipped_date','purchase_amount','purchase_month']].sort_values(by='order_date')

         order_date shipped_date  purchase_amount  purchase_month
3220324  01/01/2016   01/01/2016          1800.00          201601
3220806  01/01/2016   01/01/2016          1600.00          201601
3220805  01/01/2016   01/01/2016          1600.00          201601
3220804  01/01/2016   01/01/2016          1400.00          201601
3220803  01/01/2016   01/01/2016          1600.00          201601
...             ...          ...              ...             ...
5444236  12/31/2020   03/18/2021          9232.20          202103
5444237  12/31/2020   03/18/2021          4094.28          202103
5444224  12/31/2020   03/18/2021          5168.70          202103
6754736  12/31/2021   01/04/2022           369.89          202201
6754735  12/31/2021   01/04/2022           342.87          202201

[378523 rows x 4 columns]

In [9]:
columns = df.columns.to_list()

In [10]:
for i in columns:
    print(f'--------{i}-------')
    print(df[i].value_counts())
    print('___________________')

--------fiscal_year-------
2020    69862
2019    55479
2021    51577
2016    50376
2022    40900
2018    37279
2015    37045
2017    16197
2023    12554
2014     7254
Name: fiscal_year, dtype: int64
___________________
--------customer_name-------
Texas Health and Human Services Commission        29434
Texas Department of Information Resources         21602
Brownsville Independent School District           13607
City of Austin                                    12331
Harris County                                      8335
                                                  ...
Huffman Independent School District                   1
San Jacinto College District                          1
City of Shoreacres                                    1
Clyde Consolidated Independent School District        1
City of Odessa                                        1
Name: customer_name, Length: 1300, dtype: int64
___________________
--------vendor_name-------
Cisco Systems, Inc.    378523
Name: vendor_name, dtype: int64
___________________
--------purchase_amount-------
0.00        47283
160.20       8078
27.75        3868
188.10       3507
185.40       3284
            ...
1438.55         1
5072.94         1
640.51          1
81.58           1
27161.40        1
Name: purchase_amount, Length: 80338, dtype: int64
___________________
--------contract_number-------
DIR-TSO-4167    230209
DIR-TSO-2542    148314
Name: contract_number, dtype: int64
___________________
--------rfo_description-------
Cisco Branded Products and Related Services     230209
Cisco Branded Equipment and Related Services    148314
Name: rfo_description, dtype: int64
___________________
--------rfo_number-------
DIR-TSO-TMP-425    230209
DIR-TSO-TMP-215    148314
Name: rfo_number, dtype: int64
___________________
--------customer_type-------
K-12                124633
Local Government    120145
State Agency         73068
Higher Ed            60026
Assistance Org         576
Other                   45
Out of State            30
Name: customer_type, dtype: int64
___________________
--------customer_contact-------
Accounts Payable                  300365
ACCOUNTS PAYABLE                   38013
Accoutns Payable                    6761
ACCTS PAYABLE VENDOR #AM101005      2936
Gus Ornelas                         1151
                                   ...
JESS PARKER                            1
Harriet Jackson                        1
YVETTE VASQUEZ                         1
PATRICK STEWART                        1
Chris Ortega                           1
Name: customer_contact, Length: 546, dtype: int64
___________________
--------customer_address-------
Po Box 13247              29434
300 W. 15th St.           21602
1900 Price Rd             13607
7201 Levander Loop        12331
1001 Preston               8335
                          ...
8530 C.E. King Parkway        1
Po Box 228                    1
150 N. Seguin                 1
911 N Bishop Rd               1
931 N Weaver                  1
Name: customer_address, Length: 1210, dtype: int64
___________________
--------customer_city-------
Austin            96435
San Antonio       26207
Houston           22198
Brownsville       17455
Corpus Christi    12624
                  ...
La Marque             1
Edna                  1
Prairie Lea           1
Orangefield           1
Whitharral            1
Name: customer_city, Length: 593, dtype: int64
___________________
--------customer_state-------
TX    378493
PA        16
NM         7
LA         3
AR         2
SC         1
CO         1
Name: customer_state, dtype: int64
___________________
--------customer_zip-------
78711.0    32662
78701      27527
78521      13425
78744.0    12718
77002.0    12605
           ...
79380          1
78028          1
79510          1
78570          1
75056          1
Name: customer_zip, Length: 1116, dtype: int64
___________________
--------vendor_contact-------
Jumana Dihu      230209
Mark Ruszczyk    148294
Name: vendor_contact, dtype: int64
___________________
--------vendor_hub_type-------
Non HUB    378523
Name: vendor_hub_type, dtype: int64
___________________
--------vendor_address-------
170 West Tasman Drive    378523
Name: vendor_address, dtype: int64
___________________
--------vendor_city-------
San Jose    378523
Name: vendor_city, dtype: int64
___________________
--------vendor_state-------
CA    378523
Name: vendor_state, dtype: int64
___________________
--------vendor_zip-------
95134    302243
95134     76280
Name: vendor_zip, dtype: int64
___________________
--------reseller_name-------
Insight Public Sector, Inc.                             162792
Netsync Network Solutions, Inc.                          77609
Presidio Networked Solutions Group, LLC                  34466
Great South Texas Corporation dba Computer Solutions     19871
CDW Government LLC                                       19871
                                                         ...
Logicalis, Inc.                                              2
Strategic Products and Services (SPS)                        2
Total Communications                                         2
MNJ TECHNOLOGIES DIRECT, INC.                                1
Commsys Technology Corp.                                     1
Name: reseller_name, Length: 71, dtype: int64
___________________
--------reseller_hub_type-------
Non HUB            273410
Hispanic/Female     77692
Woman Owned         22402
Asian/Female         3372
Black/Female          938
Hispanic/Male         678
Black/Male             30
Asian/Male              1
Name: reseller_hub_type, dtype: int64
___________________
--------reseller_address-------
6820 S. Harl Ave.                  162792
2500 West Loop S Ste. 410           77609
777 E. Sonterra Blvd, Suite 300     27818
230 North Milwaukee Avenue          19871
814 Arion Parkway, Suite 101        18714
                                    ...
333 Burnham Street                      2
412 Halifax Drive                       2
2600 Telegraph Road, Suite 200          2
12210 Bedford Street                    1
1025 Busch Pkwy                         1
Name: reseller_address, Length: 67, dtype: int64
___________________
--------reseller_city-------
Tempe               162792
Houston              99294
San Antonio          54435
Vernon Hills         19871
Claremont             6824
Irving                6690
Austin                5527
Norcross              3327
Dallas                3237
Herndon               2035
Addison               2007
Hewitt                1568
Plano                 1538
Richardson             978
Odesa                  864
Albquerque             750
St. Louis              689
Irvine                 620
Ashburn                611
El Paso                304
Miramar                286
Overland               283
Lufkin                 223
Allen                  176
Auburn                 137
San Diego              117
Jewett                 116
Bloomington             98
Cedar Park              80
Bee Cave                11
South Lake               9
Exeter                   5
East Hartford            2
Coppell                  2
Bloomfield Hills         2
Buffalo Grove            1
Name: reseller_city, dtype: int64
___________________
--------reseller_state-------
TX    176339
AZ    162792
IL     19872
NH      6824
GA      3327
VA      2646
NM       750
CA       737
TE       720
MO       689
FL       286
KS       283
WA       137
MN        98
RI         5
CT         2
MI         2
Name: reseller_state, dtype: int64
___________________
--------reseller_zip-------
85283.0    162792
77027.0     77609
78258.0     27818
60061.0     19871
78209.0     18381
77072.0      9851
77042.0      9380
78216.0      7182
3743.0       6824
75063.0      6648
30092.0      3327
75247.0      3237
78746.0      2475
20171.0      2035
75001.0      2007
76643.0      1568
75093.0      1482
77068.0      1270
78229.0      1054
75081.0       978
79765.0       864
78758.0       860
78701.0       804
78749.0       786
87113.0       750
63146.0       689
92618.0       620
20147.0       611
78759.0       553
77065.0       539
77060.0       383
79903.0       304
33027.0       286
66213.0       283
75902.0       223
75013.0       176
98001.0       137
92121.0       117
75846.0       116
77099.0       111
55347.0        98
77064.0        87
78613.0        80
75074.0        56
78745.0        43
77041.0        42
75039.0        42
77070.0        12
78738.0        11
76092.0         9
77036.0         9
78744.0         6
2822.0          5
48302.0         2
6108.0          2
75019.0         2
77031.0         1
60089.0         1
Name: reseller_zip, dtype: int64
___________________
--------reseller_phone-------
(512) 691-2015    162792
(866) 974-5959     77609
(469) 549-3800     34466
(312) 547-2453     19871
(210) 369-0320     19871
                   ...
(800) 300-8024         2
(214) 530-0100         2
(248) 957-5600         2
(713) 263-1300         1
(847) 876-8806         1
Name: reseller_phone, Length: 62, dtype: int64
___________________
--------report_received_month-------
202007    9152
202010    7798
201910    7722
201906    7486
202001    7450
          ...
202203    1852
201604    1824
201411    1587
201406    1294
201405      42
Name: report_received_month, Length: 91, dtype: int64
___________________
--------purchase_month-------
202006    10708
202010    10465
201911     8753
201910     7989
201906     7534
          ...
201707        4
201705        4
201703        3
201704        3
201701        2
Name: purchase_month, Length: 102, dtype: int64
___________________
--------brand_name-------
Cisco            355196
Cisco Systems     23327
Name: brand_name, dtype: int64
___________________
--------order_quantity-------
1.0000       229879
2.0000        33945
4.0000        13686
3.0000        11141
6.0000         6540
              ...
207.0508          1
2862.4500         1
2154.5800         1
100.1300          1
45.0200           1
Name: order_quantity, Length: 6742, dtype: int64
___________________
--------unit_price-------
0.000000        47283
160.200000       8078
27.748001        3867
188.100000       3509
182.500000       3289
                ...
3355.410000         1
4282.800000         1
357.900000          1
325.740000          1
13580.700000        1
Name: unit_price, Length: 59206, dtype: int64
___________________
--------invoice_number-------
2023084264       4005
1100484672       3100
20V01155         2821
1100895911       2165
2022101430       1773
                 ...
1100420007          1
1100675797          1
1100420010          1
363637              1
6013219010429       1
Name: invoice_number, Length: 54394, dtype: int64
___________________
--------po_number-------
21002598              4005
AB0490499             3535
529-6-92201           3100
2001959729-06         2821
2002492233            2217
                      ...
UTTYL-0000009420         1
P0032663                 1
P-700021 (POCN #1)       1
21009678                 1
601440000055876          1
Name: po_number, Length: 35283, dtype: int64
___________________
--------order_date-------
10/15/2020    4247
09/27/2019    3781
06/25/2016    3100
04/15/2020    3042
06/20/2020    2961
              ...
05/08/2016       1
05/14/2014       1
04/01/2018       1
07/18/2017       1
04/18/2015       1
Name: order_date, Length: 2434, dtype: int64
___________________
--------shipped_date-------
10/26/2020    4928
09/29/2019    3590
07/06/2016    3201
04/22/2020    2896
06/07/2020    2674
              ...
10/05/2017       1
03/15/2015       1
11/26/2015       1
05/30/2017       1
06/04/2022       1
Name: shipped_date, Length: 2754, dtype: int64
___________________
--------dir_contract_mgr-------
Tiffanay Waller    230209
Mario Gutierrez    148308
Name: dir_contract_mgr, dtype: int64
___________________
--------contract_type-------
Networking Equipment    378523
Name: contract_type, dtype: int64
___________________
--------contract_subtype-------
Networking Equipment    378523
Name: contract_subtype, dtype: int64
___________________
--------contract_start_date-------
07/03/2018    230209
05/05/2014    148314
Name: contract_start_date, dtype: int64
___________________
--------contract_end_date-------
07/03/2022    205351
07/04/2018    148314
07/03/2023     24858
Name: contract_end_date, dtype: int64
___________________
--------contract_termination_date-------

07/03/2023    230209
07/04/2018    148314
Name: contract_termination_date, dtype: int64
___________________
--------sales_fact_number-------
48674865    1
42192460    1
42192469    1
42192468    1
42192467    1
           ..
35153036    1
35153035    1
35153034    1
35153033    1
55911610    1
Name: sales_fact_number, Length: 378523, dtype: int64
___________________

**Customer names** include counties seems interesting to maybe seperate by county or school district 
A better way to group would be by **customer type**
```python
--------customer_type-------
K-12                124633
Local Government    120145
State Agency         73068
Higher Ed            60026
Assistance Org         576
Other                   45
Out of State            30
```

Numeric data: **purchase amount**, **order quantity**,  **unit_price**

Question Top sales by customers city use **customer city** or **customer zip**
Question top sales by hub type?

-I would like to use order date as the index

_info to take out 
'sales_fact_number'
'contract_type',
'po_number',
'invoice_number',
'reseller_phone',
'reseller_address',
'vendor_zip',
'vendor_city', 'vendor_state', 'vendor_address', 'vendor_hub_type','vendor_contact',
 'customer_address',
 'rfo_description',
 'rfo_number',

In [11]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['fiscal_year', 'customer_name', 'vendor_name', 'purchase_amount',
       'contract_number', 'rfo_description', 'rfo_number', 'customer_type',
       'customer_contact', 'customer_address', 'customer_city',
       'customer_state', 'customer_zip', 'vendor_contact', 'vendor_hub_type',
       'vendor_address', 'vendor_city', 'vendor_state', 'vendor_zip',
       'reseller_name', 'reseller_hub_type', 'reseller_address',
       'reseller_city', 'reseller_state', 'reseller_zip', 'reseller_phone',
       'report_received_month', 'purchase_month', 'brand_name',
       'order_quantity', 'unit_price', 'invoice_number', 'po_number',
       'order_date', 'shipped_date', 'dir_contract_mgr', 'contract_type',
       'contract_subtype', 'contract_start_date', 'contract_end_date',
       'contract_termination_date', 'sales_fact_number'],
      dtype='object')>

In [12]:
df_explore = df[['fiscal_year', 'customer_name', 'vendor_name', 'purchase_amount',
       'contract_number',   'customer_type',
       'customer_contact', 'customer_city',
       'customer_state', 'customer_zip',  
       
       'reseller_name', 'reseller_hub_type', 
       'reseller_city', 'reseller_state', 'reseller_zip', 
       'report_received_month', 'purchase_month', 'brand_name',
       'order_quantity', 'unit_price',  
       'order_date', 'shipped_date', 'dir_contract_mgr', 
       'contract_subtype', 'contract_start_date', 'contract_end_date',
       'contract_termination_date'] ]

In [13]:
def datetime_type(df,date):
    ''' datetime_type takes in a dataframe and a ready date columne and reassigns the date to the datetime type
    returns df'''
    # save into dataframe
    df[date] = pd.to_datetime(df[date])
    return df

def distribution( df, var):
    ''' distribution takes in a dataframe and variable and returns a histoplot 
    that  display the distirbution of the variable'''
    # use histplot
    sns.histplot(df[var])
    #show plot
    plt.show();


def set_date_to_index(df, date):
    ''' set_date_to_index takes in a dataframe and string date and set the index of data frame to the index
    returns altered data frame'''
    # Sort rows by the date and then set the index as that date
    df = df.set_index(date).sort_index()
    return df

def add_date_column_string(df,column_name, string='%B'):
    ''' add_date_column takes in a df:data frame and a time frame method run_method: defaulted to %B  month_name()
    and returns a dataframe wiht a new column,'''
    # save into data frame
    df[column_name]=df.index.strftime(string)
    
    return df

def multiply_columns_addto_df(df, column_name, var1, var2):
    ''' multiply_columns_addto_df takes in a dataframe and multiplies two of its variables and sa
    returs'''
    # save into data frame
    df[column_name]= df[var1]* df[var2]
    return df

def fillna(df):
    '''fill na takes in a dataframe and fill in the nans/nulls'''
    # fill in nulls
    df.fillna(0, inplace=True)
    return df

In [14]:
# set order date to date time index
df_explore = datetime_type(df_explore,'order_date')
df_explore = set_date_to_index(df_explore, 'order_date')

/var/folders/gl/sb_qsbtn2n58skm07d4xzbwh0000gn/T/ipykernel_26519/1657035779.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date] = pd.to_datetime(df[date])

In [15]:
# set date from 2018 till 2022
df_explore = df_explore.loc["2018":]

In [16]:
df_explore.shape

(261910, 26)

In [17]:
df_explore.describe()

,fiscal_year,purchase_amount,reseller_zip,report_received_month,purchase_month,order_quantity,unit_price
count,261910.000000,2.619100e+05,261427.000000,261910.000000,261910.000000,2.619100e+05,2.619100e+05
mean,2020.198202,4.152914e+03,76634.001717,201989.969119,201988.566110,5.985772e+02,1.183190e+03
std,1.382743,2.425902e+04,14691.986110,129.516274,129.977773,1.842589e+05,6.342508e+03
min,2018.000000,-6.967409e+05,2822.000000,201801.000000,201801.000000,-1.273856e+06,0.000000e+00
25%,2019.000000,1.200000e+02,77027.000000,201905.000000,201904.000000,1.000000e+00,5.605000e+01
50%,2020.000000,4.900000e+02,78216.000000,202004.000000,202004.000000,1.000000e+00,2.781000e+02
75%,2021.000000,1.848000e+03,85283.000000,202106.000000,202106.000000,3.000000e+00,7.853338e+02
max,2023.000000,3.723000e+06,98001.000000,202211.000000,202211.000000,9.409319e+07,1.841400e+06

In [18]:
df_explore

,fiscal_year,customer_name,vendor_name,purchase_amount,contract_number,customer_type,customer_contact,customer_city,customer_state,customer_zip,...,purchase_month,brand_name,order_quantity,unit_price,shipped_date,dir_contract_mgr,contract_subtype,contract_start_date,contract_end_date,contract_termination_date
order_date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,2018,Odem-Edroy Independent School District,"Cisco Systems, Inc.",4532.00,DIR-TSO-2542,K-12,Accounts Payable,Odem,TX,78370.0,...,201801,Cisco,16.0,283.25,01/11/2018,Mario Gutierrez,Networking Equipment,05/05/2014,07/04/2018,07/04/2018
2018-01-02,2018,Odem-Edroy Independent School District,"Cisco Systems, Inc.",2860.00,DIR-TSO-2542,K-12,Accounts Payable,Odem,TX,78370.0,...,201801,Cisco,16.0,178.75,01/11/2018,Mario Gutierrez,Networking Equipment,05/05/2014,07/04/2018,07/04/2018
2018-01-02,2018,Odem-Edroy Independent School District,"Cisco Systems, Inc.",187.04,DIR-TSO-2542,K-12,Accounts Payable,Odem,TX,78370.0,...,201801,Cisco,16.0,11.69,01/11/2018,Mario Gutierrez,Networking Equipment,05/05/2014,07/04/2018,07/04/2018
2018-01-02,2018,Odem-Edroy Independent School District,"Cisco Systems, Inc.",428.96,DIR-TSO-2542,K-12,Accounts Payable,Odem,TX,78370.0,...,201801,Cisco,16.0,26.81,01/11/2018,Mario Gutierrez,Networking Equipment,05/05/2014,07/04/2018,07/04/2018
2018-01-02,2018,San Benito Consolidated Independent School Dis...,"Cisco Systems, Inc.",63.36,DIR-TSO-2542,K-12,Accounts Payable,San Benito,TX,78586.0,...,201802,Cisco,1.0,63.36,02/03/2018,Mario Gutierrez,Networking Equipment,05/05/2014,07/04/2018,07/04/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-25,2023,Harlingen Waterworks System,"Cisco Systems, Inc.",2469.24,DIR-TSO-4167,Local Government,Accounts Payable,HARLINGEN,TX,78551,...,202211,Cisco,2.0,1234.62,11/29/2022,Tiffanay Waller,Networking Equipment,07/03/2018,07/03/2023,07/03/2023
2022-11-28,2023,City of San Antonio,"Cisco Systems, Inc.",430.00,DIR-TSO-4167,Local Government,Accounts Payable,San Antonio,TX,78283,...,202211,Cisco,2.0,215.00,11/29/2022,Tiffanay Waller,Networking Equipment,07/03/2018,07/03/2023,07/03/2023
2022-11-28,2023,City of Duncanville,"Cisco Systems, Inc.",525.78,DIR-TSO-4167,Local Government,Accounts Payable,Duncanville,TX,75116,...,202211,Cisco,6.0,87.63,11/29/2022,Tiffanay Waller,Networking Equipment,07/03/2018,07/03/2023,07/03/2023
2022-11-29,2023,Railroad Commission of Texas,"Cisco Systems, Inc.",418.96,DIR-TSO-4167,State Agency,Accounts Payable,Austin,TX,78711,...,202211,Cisco,2.0,209.48,11/29/2022,Tiffanay Waller,Networking Equipment,07/03/2018,07/03/2023,07/03/2023
2022-11-29,2023,Montgomery County Emergency Communications Dis...,"Cisco Systems, Inc.",1376.48,DIR-TSO-4167,Local Government,Accounts Payable,Conroe,TX,77305,...,202211,Cisco,8.0,172.06,11/30/2022,Tiffanay Waller,Networking Equipment,07/03/2018,07/03/2023,07/03/2023

# #Explore Questions

10.What are the trends in sales with school districts as a subgroup (seasonality)?

In [19]:
types = df_explore[['purchase_amount','customer_type']]

In [20]:
types.describe()

       purchase_amount
count     2.619100e+05
mean      4.152914e+03
std       2.425902e+04
min      -6.967409e+05
25%       1.200000e+02
50%       4.900000e+02
75%       1.848000e+03
max       3.723000e+06

In [21]:
types.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 261910 entries, 2018-01-02 to 2022-11-29
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   purchase_amount  261910 non-null  float64
 1   customer_type    261910 non-null  object
dtypes: float64(1), object(1)
memory usage: 6.0+ MB

In [37]:
types.customer_type.value_counts()

K-12                86238
Local Government    81099
State Agency        50132
Higher Ed           43846
Assistance Org        530
Other                  41
Out of State           24
Name: customer_type, dtype: int64

In [36]:
k_12= types[types["customer_type"]=='K-12']

In [38]:
local_gov = types[types["customer_type"]=='Local Government']

In [39]:
state_agency = types[types["customer_type"]=='State Agency']

In [40]:
higher_ed = types[types["customer_type"]=='Higher Ed']